<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Team</title>
<link rel="stylesheet" href="styles.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Flatpickr CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
	rel="stylesheet">
</head>

<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-light">

			<div class="container-fluid">
				<!-- Links -->
				<ul class="navbar-nav">
					<a class="navbar-brand" href="#"> <img
						src="https://vn.fitlg.asia/jira/images/atlassian-jira-logo-large.png"
						alt="Avatar Logo" style="width: 80px;" class="">
					</a>
					<li class="nav-item"><a class="nav-link" href="#">Your
							work</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Projects</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Team</a></li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="text" placeholder="Search">
					<button class="btn btn-primary" type="button">Search</button>
				</form>
			</div>
			<a class="navbar-brand" href="#"> <img
				src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png"
				alt="Avatar Logo" style="width: 40px;" class="rounded-pill">
			</a>

		</nav>

		<div class="row">
			<div class="col-sm-2 border">
				<div class="row p-3">
					<div
						class="col-sm-12 p-3 d-flex align-items-center justify-content-between">
						<h4>Project</h4>
						<button href="#demo" type="button" class="btn btn-outline-info"
							data-bs-toggle="collapse">Add</button>
					</div>

					<div id="demo" class="collapse">
						<input type="text" placeholder="type then press enter..."
							class="form-control mb-3">
					</div>
					<div class="list-group">
						<a th:each="project: ${projects}" th:text="${project.name}"
							th:href="@{/project/loadTasks(idProject=${project.id})}"
							class="list-group-item list-group-item-action"></a>
					</div>
				</div>
			</div>
			<div class="col-sm-10 border">
				<div class="row">
					<div class="row p-2 mt-2">
						<h5>Project1</h5>
					</div>
					<div class="row">
						<nav
							class="navbar navbar-expand-sm bg-light d-flex justify-content-start">

							<div class="container-fluid"></div>
							<!-- Links -->
							<ul class="navbar-nav">
								<li class="nav-item"><a class="nav-link " href="#">Summary</a>
								</li>
								<li class="nav-item"><a class="nav-link active" href="#">Board</a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">Calendar</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="row">
					<div class="row">
						<div class="container-fluid d-flex p-3 gap-3">
							<a class="navbar-brand" href="#" data-bs-toggle="tooltip"
								title="You"> <img
								src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png"
								alt="Avatar Logo" style="width: 40px;" class="rounded-pill">
							</a>
							<button type="button" class="btn btn-outline-info"
								data-bs-toggle="modal" data-bs-target="#inviteUser">Invite</button>
							<div class="modal" id="inviteUser">
								<div class="modal-dialog modal-lg modal-dialog-centered">
									<div class="modal-content">

										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title">Invite user</h4>
											<button type="button" class="btn-close"
												data-bs-dismiss="modal"></button>
										</div>

										<!-- Modal body -->
										<div class="modal-body">
											<div class="mb-3 mt-3">
												<label for="email" class="form-label">Email:</label> <input
													type="email" class="form-control" id="email"
													placeholder="Enter email user" name="email">
											</div>
											<button type="submit" class="btn btn-primary">Invite</button>
										</div>

										<!-- Modal footer -->
										<div class="modal-footer">
											<button type="button" class="btn btn-danger"
												data-bs-dismiss="modal">Close</button>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3" th:each="loop, iterStat : ${loopList}">
							<div class="card">
								<div class="card-header">
									<span th:if="${iterStat.index == 0}" class="badge bg-secondary">TODO</span>
									<span th:if="${iterStat.index == 1}" class="badge bg-primary">IN
										PROGRESS</span> <span th:if="${iterStat.index == 2}"
										class="badge bg-success">DONE</span>
								</div>
								<div class="card-body px-1">
									<div th:if="${tasks != null}">
										<p th:if="${tasks.size() == 0}" th:text="'Null'"></p>
									</div>
									<div class="border p-2 rounded mb-2" th:each="task: ${tasks} "
										data-bs-toggle="modal"
										th:data-bs-target="${'#myModal'+task.id}"
										th:if="${task.status==iterStat.index}">
										<div class="d-flex align-items-center justify-content-between">
											<p th:text="${task.name}" class="mb-0 fs-5"></p>
											<span class="badge bg-success" th:if="${task.level == 1}">EASY</span>
											<span class="badge bg-warning" th:if="${task.level == 2}">MEDIUM</span>
											<span class="badge bg-danger" th:if="${task.level == 3}">HARD</span>
											<a class="navbar-brand" href="#"> <img
												src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png"
												alt="Avatar Logo" style="width: 40px;" class="rounded-pill">
											</a>
										</div>
										<div class="row p-2"></div>
										<div class="d-flex align-items-center justify-content-between">
											<p class="fst-italic" th:text="${task.point}+' point'"></p>
											<p class="fst-italic"
												th:text="${task.hoursRemaining}+' hours'"></p>
										</div>
										<!-- MODAL -->
										<div class="modal" th:id="'myModal' + ${task.id}">
											<div class="modal-dialog modal-lg modal-dialog-centered">
												<div class="modal-content">

													<!-- Modal Header -->
													<div class="modal-header">
														<h4 class="modal-title" th:text="${task.name}"></h4>
														<button type="button" class="btn-close"
															data-bs-dismiss="modal"></button>
													</div>

													<!-- Modal body -->
													<div class="modal-body">
														<div class="row">
															<div class="col-sm-7"
																style="height: 300px; overflow: auto;">
																<div class="d-flex align-items-center mb-2">
																	<p class="fs-5 mb-0">Description</p>
																	<div class="dropdown dropend ms-3">
																		<button th:if="${task.status==0}" type="button"
																			class="btn btn-outline-secondary dropdown-toggle p-1"
																			data-bs-toggle="dropdown">TODO</button>
																		<button th:if="${task.status==1}" type="button"
																			class="btn btn-outline-primary dropdown-toggle p-1"
																			data-bs-toggle="dropdown">IN PROGRESS</button>
																		<button th:if="${task.status==2}" type="button"
																			class="btn btn-outline-success dropdown-toggle p-1"
																			data-bs-toggle="dropdown">DONE</button>
																		<ul class="dropdown-menu p-0"
																			style="min-width: 100px; padding: 0.25rem; font-size: 0.875rem;">
																			<li><a class="dropdown-item"
																				th:classappend="${task.status==0?'active':''}"
																				href="#">TODO</a></li>
																			<li><a class="dropdown-item"
																				th:classappend="${task.status==1?'active':''}"
																				href="#">IN PROGRESS</a></li>
																			<li><a class="dropdown-item"
																				th:classappend="${task.status==2?'active':''}"
																				href="#">DONE</a></li>
																		</ul>
																	</div>
																</div>
																<p class="fst-italic" th:text="${task.description}"></p>
																<p class="fs-5 mb-1">Comment</p>
																<div class="container">
																	<form action="/action_page.php">
																		<div class="mb-3 mt-3">
																			<textarea class="form-control" rows="5" id="comment"
																				name="text" placeholder="Your comment"
																				style="height: 80px;"></textarea>
																		</div>
																		<div class="d-flex justify-content-end">
																			<button type="submit"
																				class="btn btn-outline-secondary p-1">Submit</button>
																		</div>
																	</form>
																</div>
																<div class="row mb-2">
																	<div class="d-flex">
																		<p class="mb-0 me-3 fw-bold">User 1</p>
																		<p class="mb-0 fst-italic">15 minutes ago</p>
																	</div>
																	<p>"Comment of user 1"</p>
																</div>
															</div>
															<div class="col-sm-5">
																<table class="table table-borderless border">
																	<thead>
																		<tr class="border">
																			<th>Detail</th>
																			<th></th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>User Create</td>
																			<td th:text="${task.userCreate}"></td>
																		</tr>
																		<tr>
																			<td>Date Create</td>
																			<td th:text="${task.dateCreate}"></td>
																		</tr>
																		<tr>
																			<td>Category</td>
																			<td th:text="${task.category}"></td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>

													<!-- Modal footer -->
													<div class="modal-footer">
														<button type="button" class="btn btn-danger"
															data-bs-dismiss="modal">Close</button>
													</div>

												</div>
											</div>
										</div>
									</div>

								</div>
								<div th:if="${iterStat.index == 0}" class="card-footer">
									<a href="#" style="text-decoration: none;"
										data-bs-toggle="modal" data-bs-target="#addNewTask">+ Add
										new</a>
									<div class="modal" id="addNewTask">
										<div class="modal-dialog modal-lg modal-dialog-centered">
											<div class="modal-content">

												<!-- Modal Header -->
												<div class="modal-header">
													<h4 class="modal-title">Add new task</h4>
													<button type="button" class="btn-close"
														data-bs-dismiss="modal"></button>
												</div>

												<!-- Modal body -->
												<div class="modal-body">
													<form action="/action_page.php">
														<div class="row">
															<div class="col-sm-6">
																<div class="mb-3 mt-3">
																	<label for="nameTask" class="form-label">Name:</label>
																	<input type="text" class="form-control" id="nameTask"
																		placeholder="Enter name task" name="nameTask">
																</div>
																<div class="mb-3">
																	<label for="point" class="form-label">Point:</label> <input
																		type="number" class="form-control" id="point"
																		placeholder="Enter point" name="point">
																</div>
																<div class="mb-3 mt-3">
																	<label for="description" class="form-label">Description:</label>
																	<input type="text" class="form-control" id="nameTask"
																		placeholder="Enter description" name="description">
																</div>
																<div class="mb-3">
																	<label for="level" class="form-label">Level:</label> <select
																		class="form-select" id="level">
																		<option>Easy</option>
																		<option>Medium</option>
																		<option>Hard</option>
																	</select>
																</div>
															</div>
															<div class="col-sm-6">
																<div class="mb-3 mt-3">
																	<label for="level" class="form-label">Level:</label> <select
																		class="form-select" id="level">
																		<option>Easy</option>
																		<option>Medium</option>
																		<option>Hard</option>
																	</select>
																</div>
																<div class="mb-3">
																	<label for="category" class="form-label">Category</label>
																	<select class="form-select" id="category">
																		<option>Category 1</option>
																		<option>Category 2</option>
																	</select>
																</div>
																<div class="mb-3">
																	<label for="datetimepicker" class="form-label">Date
																		end task:</label> <input type="text" class="form-control"
																		id="datetimepicker">
																</div>
																<div class="mb-3">
																	<label for="userReceive" class="form-label">User
																		Receive</label> <select class="form-select" id="userReceive">
																		<option>User 1</option>
																		<option>User 2</option>
																	</select>
																</div>
															</div>
														</div>
														<button type="submit" class="btn btn-primary">Submit</button>
													</form>
												</div>

												<!-- Modal footer -->
												<div class="modal-footer">
													<button type="button" class="btn btn-danger"
														data-bs-dismiss="modal">Close</button>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>
					<div class="row p-5"></div>
					<div class="row p-4"></div>
				</div>
			</div>
		</div>
	</div>

</body>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
	// create Datetime
	flatpickr("#datetimepicker", {
		enableTime : true,
		dateFormat : "m/d/Y H:i"
	});
	// Initialize tooltips
	var tooltipTriggerList = [].slice.call(document
			.querySelectorAll('[data-bs-toggle="tooltip"]'))
	var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl)
	})
</script>

</html>